@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
    /* плавный скрол */
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--dark);
    background: var(--light);
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);

}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

nav ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

section {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    margin: 0 0 20px;
}

.container {
    margin: 0 auto;
    max-width: 1350px;

}


.none {
    display: none;
}