.hero {
  background-image:url(/Portfolio/assets/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease-in-out;
  color: var(--light);
}

.hero-content span {
  color: var(--primary);
  display: inline-block;
}

.hero-content p {
  font-size: 1.5rem;
  color: var(--gray);
  margin-bottom: 2rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
}
